body{
    background-color: rgb(233, 178, 178);
 
}
header h1{
    text-align: left;
    padding: 45px;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .icons{
    width: 135px;
    display: flex;
   justify-content: space-around;
   float: right;
   margin-inline-end: 5px;
    padding: 85px;
  padding-block-start: 15px;
    border-radius: 30%;
  }

  nav li{
    display: inline;
    padding: 80px;
    font-size: 20px;
  }
  nav a{
    text-decoration: none;
    color: rgb(236, 221, 221);
  }
  nav a:hover{
    background-color: rgb(231, 98, 131);
    color: rgb(219, 134, 181);
  }
  
footer{
    background-color: rgb(225, 201, 213);
  }
  footer img{
    width: 20px;
    border-radius: 25%;
  
  }
  p{
    text-align: center;
    font-size: 15px;
  line-height: 1.4;
  }
  footer{
    background-color: rgb(225, 201, 213);
  }
  footer img{
    width: 20px;
    border-radius: 25%;
  
  }
  h3{
    text-align: left;
    padding-left: 95px;
 }
 .logo{
  margin-bottom: 20%;
padding: 50px;
    width:15px;
    margin-inline-start: 55px;
    display: flex;
 }
 .cc img{
  width: 35px;
  border-radius: 20%;
 }
.cc{
padding-left: 70px;

}
h4{
  text-align: center;
}
h4{
  text-align: center;
}
@media screen {
  (max-width: 800px;){
    .body{ width: 100px;}
aside {
  width: 100%;
}
footer{ width: 100%;}
  }
  
}
@media screen { (max-width: 470px;)
  .body{ width: 100px;}
  aside {
    width: 100%;
  }
  footer{ width: 100%;}
    }
  