@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Signika+Negative:wght@300..700&display=swap");
body{
background-color: rgb(233, 178, 178);

}

header h1{
  text-align: left;
  padding: 45px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.icons{
  width: 55px;
  display: flex;
 justify-content: space-evenly;
 float: right;
 margin-inline-end: 5px;
  padding: 55px;
  border-radius: 20%;
}
header h5{
  text-align: center;
float: none;

}

nav li{
  display: inline;
  padding: 80px;
  font-size: 20px;
}
nav a{
  text-decoration: none;
  color: rgb(236, 221, 221);
}
nav a:hover{
  background-color: rgb(231, 98, 131);
  color: rgb(219, 134, 181);
}

p{
  text-align: center;
  font-size: 15px;
line-height: 1.4;
}

footer{
  background-color: rgb(225, 201, 213);
}
footer img{
  width: 20px;
  border-radius: 25%;

}
section img{
width: 95%;
margin-top: 15px;
padding: 25px;
}
